    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      display: flex;
      min-height: 100dvh;
      justify-content: center;
      align-items: center;
    }

    main {
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    form {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    input {
      padding: 10px;
    }

    input[type="text"] {
      width: 85%;
    }

    .buttons {
      display: flex;
      gap: 10px;
    }

    input[type="submit"],
    input[type="button"] {
      cursor: pointer;
    }

    .preco input[type="submit"] {
      width: 39%;
    }

    .buttons input[type="button"] {
      width: 100%;
    }

    pre {
      width: 400px;
    }

    .result {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }