    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      display: flex;
      min-height: 100dvh;
      justify-content: center;
      align-items: center;
    }

    main {
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    form {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    input {
      padding: 10px;
    }

    input[type="text"],
    input[type="number"] {
      width: 100%;
    }

    .buttons {
      display: flex;
      gap: 30px;
    }

    input[type="submit"],
    input[type="button"] {
      cursor: pointer;
    }

    pre {
      width: 400px;
      font-size: 1.2rem;
    }

    .buttons {
      display: flex;
      gap: 5px;
    }

    .preco {
      display: grid;
      align-items: center;
      gap: 3px;
      grid-template-columns: 1fr 3fr 1fr;
    }

    .buttons input[type="button"] {
      width: 100%;
    }

    .result {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }